<!doctype html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <head>
            <base href="/">
            <link href="stylesheets/style.css" rel="stylesheet">
        </head>

    <body>

    <div ng-controller="NavbarController as navbar" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
        <div class="navbar-header">
            <a class="navbar-brand" href="{{currentUser ? '/secure/dashboard' : '/'}}">
                <span>Error<strong>Trackr</strong></span>
            </a>
        </div>
        <ul class="nav navbar-nav pull-right" ng-if="!currentUser">
            <li data-match-route="/auth/login"><a href="/auth/login">Login</a></li>
            <li data-match-route="/auth/signup"><a href="/auth/signup">Sign up</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="currentUser">
            <li><a href="ftp://dev.cultr.jed.st:13700">FTP Server</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right" ng-if="currentUser">
            <li class="navbar-text" ng-bind="currentUser"></li>
            <li><a href="javascript:void(0)" ng-click="navbar.logout()">Logout</a></li>
        </ul>
    </div>

    <div ng-view class="{{pageClass}}"></div>

    <!-- scripts -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.js"></script>
    <script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="bower_components/echarts/dist/echarts.min.js"></script>
    <script src="bower_components/socket.io-client/dist/socket.io.js"></script>

    <script src="bower_components/moment/moment.js"></script>
    <script src="bower_components/validator-js/validator.min.js"></script>

    <script src="app/app.js" ></script>
    <script src="app/common/common.js" ></script>
    <script src="app/dashboard/dashboard.js" ></script>



    <script src="app/common/services/authenticationService.js"></script>
    <script src="app/dashboard/services/chartGetter.js"></script>
    <script src="app/dashboard/services/socketFactory.js"></script>

    <script src="app/common/controllers/NavbarController.js" ></script>
    <script src="app/common/controllers/SignUpController.js"></script>
    <script src="app/common/controllers/LoginController.js"></script>
    <script src="app/dashboard/controllers/sideMenuContentCtrl.js"></script>
    <script src="app/dashboard/controllers/displayEChartCtrl.js"></script>

    <script src="app/common/directives/emailValidator.js"></script>
    <script src="app/common/directives/passwordStrength.js"></script>
    <script src="app/common/directives/nameValidator.js"></script>
    <script src="app/common/directives/usernameValidator.js"></script>
    <script src="app/dashboard/directives/sideMenuContent.js"></script>
    <script src="app/dashboard/directives/displayEChart.js"></script>

    <script src="app/dashboard/controllers/ContextMenuController.js"></script>
    <script src="app/dashboard/directives/contextMenu.js"></script>
    <script src="app/dashboard/controllers/downloadErrorController.js"></script>
    <script src="bower_components/angular-file-saver/dist/angular-file-saver.bundle.js"></script>

    </body>
</html>
