$body-bg: #e4e7ec;

$font-family-base: 'Open Sans', sans-serif;
$headings-color: #111;

$headings-font-family: 'Montserrat', sans-serif;
$headings-font-weight: bold;

$brand-success: #22ae5f;
$brand-primary: #1d7cf4;
$brand-danger: #b30015;
$brand-warning: #ffd66a;

$text-muted: #90939a;
$link-color: #000;

$navbar-default-link-active-bg: #f7f7f7;
$navbar-default-link-color: #848484;
$navbar-default-bg: #fff;
$navbar-default-border: #e3e9ec;

$navbar-default-brand-color: #333;
$navbar-default-brand-hover-color: #ffe939;
$navbar-default-brand-hover-bg: #333;

$btn-success-bg: $brand-success;
$btn-success-border: darken($btn-success-bg, 3%);
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 3%);

$jumbotron-padding: 16px;
$jumbotron-bg: #f4f6f8;

$alert-border-radius: 0;
$input-border-radius: 0;

$alert-success-text: #fff;
$alert-success-bg: #60c060;
$alert-success-border: darken($alert-success-bg, 3%);

$alert-danger-text: #fff;
$alert-danger-bg: $brand-danger;
$alert-danger-border: darken($alert-danger-bg, 3%);

$alert-info-bg: #e5f7fd;
$alert-info-border: #bcf8f3;
$alert-info-text: #25484e;

$btn-font-weight: bold;

@import '../bower_components/bootstrap/dist/css/bootstrap.css';


body, html {
  height: 100%;
}

body {
  padding-bottom: 20px;
}

em {
  font-style: normal;
  text-decoration: underline;
}

#wrapper {
  display: flex;

}
#left {
  //flex: 0 0 12%;
  flex : 1 225px;
  background-color: #222;
  height:calc(100vh - 50px);
}
#right {
  width: calc(100% - 225px);
  background-color: #f3f3f3;
  height: calc(100vh - 50px);
}

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul { list-style-type: none; }

.accordion {
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

//.accordion li:last-child .link { border-bottom: 0; }

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #595959;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.submenu {
  display: none;
  background: #375472;
  font-size: 14px;
}

.submenu ul {
  max-height:250px;
  overflow-y:auto;
  margin-bottom: 0;
}

.submenu ul li {
  border-bottom: 1px solid #4b4a5e;
}
.submenu ul li:last-child { border-bottom: 1px solid #CCC; }

.submenu a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

.alert {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.btn {
  border-radius: 2px;
}

.btn-lg {
  font-size: 14px;
}

.btn [class^='ion-'] {
  margin-right: 6px;
}


.center-form {
  width: 500px;
  margin: 10% auto;

  input {
    border-radius: 0;
  }
}


.panel {
  border-color: #cfd9D7;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0,0,0,.2);
}

.panel-default > .panel-heading {
  color: #444;
  border-color: #cfd9db;
  font-weight: bold;
  font-size: 85%;
  text-transform: uppercase;
  background-color: #f6f6f6;
}

.label {
  display: inline-block;
  margin-bottom: 5px;
  padding: 4px 8px;
  border: 0;
  border-radius: 3px;
  font-size: 12px;
  transition: 0.1s all;
  -webkit-font-smoothing: antialiased;
}

.label-default {
  background-color: #e4e7ec;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  color: #90939a;

  &:hover {
    background-color: #90939a;
    color: #f4f6f8;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  }
}

.navbar {
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  margin-bottom: 0;
}

.navbar-header {
  float: left;
  padding-left: 15px;

}

.navbar-brand {
  background-color: #ffe939;
  transition: 0.25s all;
  margin-left: -15px;
}

.navbar-nav {
  float: left;
  margin: 0;

  > li {
    float: left;

    > a {
      padding: 15px;
    }
  }
}


.alert-material {
  font-family: 'Roboto', sans-serif;
  outline: none;
  display: inline-block;
  background: #323232;
  color: #f1f1f1;
  min-height: 48px;
  padding: 13px 24px 12px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  z-index: 1;
  border-radius: 2px;
  cursor: default;
  position: fixed;
  bottom: 12px;
  right: 12px;
}

.alert-dismissable .close {
  line-height: 19px;
  top: 0;
  right: -11px;
  color: #eeff41;
  cursor: pointer;
  float: right;
  opacity: 1;
  text-shadow: none;
  font-weight: normal;
}

.signup-or-separator {
  background: none;
  height: 34px;
  position: relative;
  text-align: center;

  hr {
    border-top: 1px solid #dce0e0;
    margin: -16px auto 10px auto;
    width: 90%;
  }

  .text {
    background-color: #fff;
    display: inline-block;
    margin: 0;
    padding: 8px;
  }
}

.has-feedback .form-control-feedback {
  top: 0;
  left: 0;
  width: 46px;
  height: 46px;
  line-height: 46px;
  color: #555;
}

.password-strengh{
  margin-top:5px;
}

.password-strengh-icons{
  margin-right:2px;
}

.help-block{
  margin-bottom: 0px;
}

.has-feedback .form-control {
  padding-left: 42.5px;
  margin-top: 5px;
}

[class^='ion-'] {
  font-size: 1.2em;
}

.fade-repeat.ng-enter {
  -webkit-animation: fadeIn 0.2s;
  animation: fadeIn 0.2s;
}

.fadeZoom.ng-enter {
  -webkit-animation-name: fadeIn, zoomIn;
  -webkit-animation-duration: 0.6s, 0.2s;
  animation-name: fadeIn, zoomIn;
  animation-duration: 0.6s, 0.2s;
}

.fadeZoomFadeDown.ng-enter {
  @extend .fadeZoom.ng-enter;
}

.fadeZoomFadeDown.ng-leave {
  -webkit-animation: fadeOutDown 0.6s;
  animation: fadeOutDown 0.6s;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.8, .8, .8);
    -ms-transform: scale3d(.8, .8, .8);
    transform: scale3d(.8, .8, .8);
  }

  50% {
    opacity: 1;
  }
}

.new-detected-error{
  display:inline-block;
  margin: 0;
}

.new-detected-error .badge{
  background-color : #cc0000;
}