<div  id="wrapper">
    <div ng-controller="sideMenuContentCtrl" class="sidemenu" id="left">
        <div class="btn-group-vertical accordion" bs-collapse data-start-collapsed="{{collapsedOptions.startCollapsed}}">
            <div ng-repeat="key in getSortedKeys()" class="btn-group">
                <div bs-collapse-toggle class="link">
                    <i class="fa fa-database"></i>
                    {{key}}
                    <i class="fa fa-chevron-down"></i>
                    <p ng-if="(EOOriginalState[key]) > 0" class="new-detected-error">
                        <span class="badge">{{EOOriginalState[key]}}</span>
                    </p>
                </div>
                <div bs-collapse-target class="submenu">
                    <ul>
                        <li ng-repeat="occ in errorOccurrences[key]">
                            <a context-menu="downloadContextMenu" ng-click="clickme(occ['_id'])" value="{{occ['_id']}}">{{formatDate(occ.beginningdate)}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="displayEChartCtrl" id="right">
        <div display-e-chart style="height: 400px;width: 100%;"></div>
    </div>
</div>
