<div class="container">
    <div class="row">
        <div class="center-form panel">
            <div class="panel-body">
                <form ng-submit="vm.signup()" name="form" class="form-validation">
                    <h2 class="text-center">Create an account</h2>

                    <div class="row">
                        <div class="form-group has-feedback col-xs-6"
                             ng-class="{ 'has-error' : form.firstName.$dirty && form.firstName.$error.required || form.firstName.$error.name}">
                            <labe><strong>First Name</strong></labe>
                            <input name-validator class="form-control input-lg" type="text" name="firstName"
                                   ng-model="vm.user.firstName"
                                   placeholder='First name' required>
                            <div class="help-block text-danger" ng-messages="form.firstName.$error"
                                 ng-if="form.firstName.$dirty">
                                <div ng-message="required">Your first name is required</div>
                                <div ng-message="name">Your first name must contain only letters</div>
                            </div>
                        </div>

                        <div class="form-group has-feedback col-xs-6"
                             ng-class="{ 'has-error' : form.lastName.$invalid && form.lastName.$dirty || form.lastName.$error.name}">
                            <labe><strong>Last Name</strong></labe>
                            <input name-validator class="form-control input-lg" type="text" name="lastName"
                                   ng-model="vm.user.lastName"
                                   placeholder='Last name' required>
                            <div class="help-block text-danger" ng-if="form.lastName.$dirty"
                                 ng-messages="form.lastName.$error">
                                <div ng-message="required">Your last name is required</div>
                                <div ng-message="name">Your last name must contain only letters</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.username.$invalid && form.username.$dirty || form.username.$error.username}">
                        <labe><strong>Username</strong></labe>
                        <input username-validator class="form-control input-lg" type="text" name="username"
                               ng-model="vm.user.username"
                               placeholder='Username' required>

                        <div class="help-block text-danger" ng-if="form.username.$dirty"
                             ng-messages="form.username.$error">
                            <div ng-message="required">You must enter a username</div>
                            <div ng-message="username">Your username must contain only letters and numbers</div>
                        </div>
                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.email.$invalid && form.email.$dirty || form.username.$error.email}">
                        <labe><strong>Email</strong></labe>
                        <input email-validator class="form-control input-lg" type="email" id="email" name="email"
                               ng-model="vm.user.email" placeholder="Email" required autofocus>

                        <div class="help-block text-danger" ng-if="form.email.$dirty"
                             ng-messages="form.email.$error">
                            <div ng-message="required">Your email address is required</div>
                            <div ng-message="email">Your email address is invalid</div>
                        </div>

                    </div>

                    <div class="form-group has-feedback"
                         ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
                        <labe><strong>Password</strong></labe>
                        <input password-strength class="form-control input-lg" type="password" name="password"
                               ng-model="vm.user.password" placeholder="Password" required
                               ng-model-options="{ debounce: 0 }">
                    </div>


                    <p class="text-center text-muted">
                        <small>By clicking on Sign up, you agree to <a href="#">terms & conditions</a> and <a href="#">privacy
                            policy</a></small>
                    </p>

                    <button type="submit" ng-disabled="form.$invalid" class="btn btn-lg btn-block btn-primary">Sign up
                    </button>
                    <br/>

                    <p class="text-center text-muted">Already have an account? <a href="/auth/login">Log in now</a></p>
                </form>
            </div>
        </div>
    </div>
</div>